[bumpversion]
current_version = 1.0.0
commit = True
tag = True

[bumpversion:file:VERSION]

[bumpversion:file:dawinix_sdk/version.py]

[bumpversion:file:setup.py]

[bumpversion:file:dawinix_sdk/__init__.py]

[bumpversion:file:docs/conf.py]
